@font-face {
  font-family: "Orkney";
  src: url("./content/font/Orkney\ Regular.otf");
}

body {
  font-family: "Orkney";
}

h1 {
  font-size: 34px;
}

header {
  font-size: 21px;
  width: 1440px;
  height: 110px;;
}

footer {
  font-size: 21px;
}

p {
  font-size: 13px;
}

.ongletHeader {
  width: 230px;
  height: 50px;
}

.ongletFooter {
  width: 230px;
  height: 50px;
}